  html {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vw;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background: rgb(217, 217, 217);
    background: -moz-radial-gradient(circle, rgba(217, 217, 217, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(217, 217, 217, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: radial-gradient(circle, rgba(217, 217, 217, 1) 0%, rgba(0, 0, 0, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#d9d9d9", endColorstr="#000000", GradientType=1);
    /* overflow: hidden; */
  }
  
  button {
    background-image: url(../src/Graphics/goldfoil.jpg);
    font-family: 'Staatliches', sans-serif;
    font-weight: 300;
    font-size: 36pt;
    color: rgb(2, 85, 85);
    border-radius: 10px;
    padding: 0;
    margin-top: 2%;
    width: 75%;
    box-shadow: -1px 3px 5px #171531;
    margin-bottom: 2%;
    border: 3px solid navy;
  }
  
  .topSec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 3px solid yellow;
    margin: 0;
  }
  
  .groupOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    background-image: url(../src/Graphics/marble.jpg);
    border: 4px solid rebeccapurple;
    padding: 0;
  }
  /*   
  @media only screen and (max-width: 870px) {
    .groupOne {
      width: 220px;
      height: 96%;
    }
  }
  
  @media only screen and (max-width: 570px) {
    .groupOne {
      width: 92%;
      height: 40%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  } */
  
  .groupTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    background-image: url(../src/Graphics/marble.jpg);
    border: 4px solid brown;
    padding: 0;
  }
  /*   
  @media only screen and (max-width: 870px) {
    .groupTwo {
      width: 220px;
      height: 96%;
    }
  }
  
  @media only screen and (max-width: 570px) {
    .groupTwo {
      width: 92%;
      height: 40%;
      background-size: cover;
    }
  }
   */
  
  .celebPic {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    width: 85%;
    box-shadow: -1px 3px 5px #2c2c30;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    /* border: 3px solid white; */
  }
  /* @media only screen and (max-width: 768px) {
    .celebPic {
      width: 18vw;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .celebPic {
      width: 20vw;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 7%;
    }
  }
   */
  
  .gameCard {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(../src/Graphics/tealWood.jpg);
    background-size: cover;
    width: 95%;
    height: 525px;
    border-radius: 10px;
    border: 3px solid fuchsia;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: -5px 5px 15px black;
  }
  /* @media only screen and (max-width: 768px) {
    .gameCard {
      width: 550px;
      height: 460px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .gameCard {
      margin-top: 0%;
      width: 350px;
      height: 80%;
    }
  }
   */
  
  .formBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    width: 780px;
    height: 490px;
    margin-bottom: 0;
    border-radius: 5px;
    border: 3px solid springgreen;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  /* @media only screen and (max-width: 480px) {
    .formBox {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 50%;
    }
  }
   */
  
  .butt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 4px solid silver;
    width: 70%;
    transition: 650ms;
    -webkit-transition: 650ms;
    -moz-transition: 650ms;
    -ms-transition: 650ms;
    -o-transition: 650ms;
  }
  
  .butt:hover {
    transform: scale(1.025);
    -webkit-transform: scale(1.025);
    -moz-transform: scale(1.025);
    -ms-transform: scale(1.025);
    -o-transform: scale(1.025);
  }
  
  .tFormat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5%;
    margin-left: 2.5%;
    line-height: 0.8;
    font-family: "Bebas Neue", cursive;
    font-weight: 500;
    color: #c99f00;
    border: 4px solid tomato;
  }
  /* @media only screen and (max-width: 480px) {
    .tFormat {
      font-size: 6pt;
      margin-bottom: 30%;
    }
  } */
  
  .topRender {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    width: 80%;
    height: 140px;
    border: 4px solid cyan;
  }
  /* @media only screen and (max-width: 480px) {
    .topRender {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 12px;
      margin-bottom: 40px;
      height: 95%;
      border: 3px solid rgb(195, 195, 255);
    }
  }
   */
  
  .score {
    font-size: 24pt;
    margin: 0;
    display: flex;
    margin-right: 2.5%;
    justify-content: left;
    align-items: center;
    width: 120px;
    line-height: 0.8;
    font-family: "Bebas Neue", cursive;
    font-weight: 500;
    color: #c99f00;
    border: 3px solid purple;
  }
  /* @media only screen and (max-width: 480px) {
    .score {
      margin-top: 5%;
      font-size: 24pt;
      text-shadow: -5px 5px 15px rgb(27, 27, 27);
    }
  } */
  
  .born {
    font-size: 35pt;
    margin-top: 0;
    text-align: center;
    width: 90%;
    line-height: 0.8;
    font-family: "Bebas Neue", cursive;
    font-weight: 500;
    color: rgb(2, 85, 85);
  }
  /* @media only screen and (max-width: 768px) {
    .born {
      font-size: 170%;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .born {
      font-size: 150%;
    }
  } */
  
  .known {
    font-size: 22pt;
    text-align: center;
    line-height: 1;
    width: 90%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: "Bebas Neue", cursive;
    font-weight: 500;
    color: rgb(2, 85, 85);
  }
  /* @media only screen and (max-width: 768px) {
    .known {
      font-size: 170%;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .known {
      font-size: 120%;
      padding-bottom: 9%;
    }
  } */
  
  .logo {
    border: 3px solid rgb(79, 79, 128);
    display: flex;
    width: 275px;
    padding-left: 3%;
    padding-right: 0;
    margin-top: 7px;
  }
  /* @media only screen and (max-width: 768px) {
    .logo {
      margin-left: 5%;
      width: 225px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .logo {
      width: 100%;
    }
  } */
  
  .frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    border: 5px solid green;
    margin-right: 2.5%;
    margin-left: 2.5%;
    background-image: url(../src/Graphics/goldfoil.jpg);
  }
  /* @media only screen and (max-width: 870px) {
    .frame {
      width: 250px;
      height: 410px;
    }
  }
  
  @media only screen and (max-width: 570px) {
    .frame {
      width: 90%;
      height: 90%;
    }
  }
   */
  
  .name {
    font-size: 36pt;
    text-align: center;
    line-height: 0.85;
    width: 90%;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "Bebas Neue", cursive;
    font-weight: 500;
    color: rgb(2, 85, 85);
    border: 3px solid orange;
  }
  /* @media only screen and (max-width: 870px) {
    .name {
      font-size: 200%;
    }
  } */